meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover")
title= siteTitle

meta(property="og:locale" content="ja_JP")
meta(property="og:type" content="website")
meta(property="twitter:card" content="summary")
meta(property="og:title" content=siteTitle)
meta(property="twitter:title" content=siteTitle)
meta(property="og:url" content=rootPath)
meta(property="og:site_name" content=siteTitle)
meta(property="twitter:site" content=siteTitle)
meta(property="og:image" content=domain + imgPath + "common/ogp.jpg")
meta(property="twitter:image" content=domain + imgPath + "common/ogp.jpg")
meta(property="article:publisher" content=siteTitle)

link(rel="apple-touch-icon" sizes="57x57" href=imgPath + "favicon/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href=imgPath + "favicon/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href=imgPath + "favicon/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href=imgPath + "favicon/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href=imgPath + "favicon/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href=imgPath + "favicon/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href=imgPath + "favicon/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href=imgPath + "favicon/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href=imgPath + "favicon/apple-icon-180x180.png")
link(rel="icon" href=imgPath + "favicon/favicon.ico")
link(rel="manifest" href=imgPath + "favicon/manifest.json")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content=imgPath + "favicon/ms-icon-144x144.png")
meta(name="theme-color" content="#ffffff")


link(rel="stylesheet", href="/assets/css/common.css")
link(rel="stylesheet", href="/assets/css/" + pageKey + ".css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
